@font-face {
    font-family: 'xingkai';
    src: url('@/assets/fonts/xingkai.ttf');
}

@font-face {
    font-family: 'xingshu';
    src: url('@/assets/fonts/xingshu.ttf');
}

@font-face {
    font-family: 'caoshu';
    src: url('@/assets/fonts/caoshu.ttf');
}