#app {
    width: 100%;
    height: 100vh; 
    background-color: var(--bg-color);
    overflow: hidden;
    border-radius: 10px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    user-select: none;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

#lyric {
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    user-select: none;
    display: flex;
    flex-direction: column;
    color: var(--lyric-color);
    &.unlock:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

body {
    font-family: 'xingkai';
}

.fade-main-enter-active, .fade-main-leave-active {
    transition: all 0.5s ease-in-out;
}

.fade-main-leave-to {
    opacity: 0;
    transform:  rotateY(-90deg);
}

.fade-main-enter-from {
    opacity: 0;
    transform: --el-message-text-color
}

.el-loading-text {
    color: var(--text-color-active) !important;
}

.no-drag {
    -webkit-app-region: no-drag;
}

.drag {
    -webkit-app-region: drag;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 6px;
}