html[data-theme='white'] {
    // 整体背景颜色
    --bg-color: #faefef;
    // 头部鼠标悬停颜色
    --header-bg-color-hover: #e2dbdb;
    // 鼠标点击和悬浮时的高亮颜色
    --bg-color-active: #94d0a7;
    --bg-color-hover: #d3a014;
    // 右侧滚动条
    --scrollbar-color: linear-gradient(transparent, #30ff00);
    
    // 文字颜色
    --text-color: #000;
    --tille-txet-color: #606266;
    --text-color-hover: #94d0a7;
    --text-color-active: #94d0a7;
    --play-name-time-color: #696868;
    --playing-li-color: #94d0a7;
    // 展示列表播放图标
    --play-mask-color: #94d0a7;
    --play-mask-fill-color: #fff;
    // 播放进度条
    --progress-color: #94d0a7;
    --progress-bg-color: #ccc;
    // 控制按钮鼠标悬停
    --control-btn-color: #94d0a7;

    // 音乐详情列表鼠标悬停颜色
    --music-detail-list-hover-color: #d8dbd8;
}
