html[data-theme='white'] {
    /* --------------------------背景----------------------------- */
    // 整体背景颜色
    --bg-color: #ffffff;
    // 头部鼠标悬停颜色
    --header-bg-color-hover: #e2dbdb;
    
    /* --------------------------按钮----------------------------- */
    // 按钮点击的颜色
    --button-color-active: #5ed885;
    // 按钮悬浮的颜色
    --button-color-hover: #d3a014;
    
    /* --------------------------滚动条----------------------------- */
    // 右侧滚动条
    --scrollbar-color: linear-gradient(to bottom, #30ff00, #30ff00);
    
    /* --------------------------进度条----------------------------- */
    --progress-left-color: #5ed885;
    --progress-right-color: #cccccc;

    /* --------------------------文字----------------------------- */
    // // 文字颜色
    --text-color: #000;
    --text-color-hover: #5ed885;
    // 文字鼠标悬停颜色
    --text-color-active: #5ed885;
    // 左侧标题颜色
    --title-txet-color: #606266;

    /* --------------------------列表----------------------------- */
    --li-active: #5ed885;
    --li-hover-bg-color: #ddd;
    
    /* --------------------------图标----------------------------- */
    // 图标鼠标悬停线条色
    --icon-color-hover: #5ed885;
    // 图标鼠标悬停填充色
    --icon-fill-hover: #5ed885;
}
